{% extends 'generic/object_list.html' %}

{% load helpers %}

{% block title %}Samband{% endblock %}


{% block buttons %}
    {{ block.super }}
    {% if request.GET %}
    <a href="{% url 'plugins:praksis_nhn_nautobot:samband_client_map' %}?{{ request.GET.urlencode }}" class="btn btn-primary">
        <i class="mdi mdi-pin"></i>
        View selection in Map
    </a>
    <a href="{% url 'plugins:praksis_nhn_nautobot:samband_graph' %}?{{ request.GET.urlencode }}" class="btn btn-primary">
        <i class="mdi mdi-graph"></i>
        View selection in Graph
    </a>
    {% endif %}
{% endblock buttons %}