{% extends 'generic/object_list.html' %}

{% load helpers %}

{% block title %}Samband{% endblock %}


{% block buttons %}
    {{ block.super }}
    {% if request.GET %}
        <!-- Only show when filters are applied -->
        <a href="{% url 'plugins:praksis_nhn_nautobot:samband_client_map' %}?{{ request.GET.urlencode }}" class="btn btn-primary">
            <i class="mdi mdi-map-marker" aria-hidden="true"></i> View in Map
        </a>
        
        <a href="{% url 'plugins:praksis_nhn_nautobot:filtered_graph' %}?{{ request.GET.urlencode }}" class="btn btn-primary">
            <i class="mdi mdi-graph" aria-hidden="true"></i> View in Graph
        </a>
    {% endif %}
{% endblock buttons %}