{% extends 'generic/object_retrieve.html' %}


{% block content %}
<div class="container-fluid">
  <!-- Page header with connection name -->
  <h2 class="my-3">Connection: {{ samband.name }}</h2>

  <!-- Connection map and details layout -->
  <div class="row">
    <!-- Map section -->
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0">Connection Map</h5>
        </div>
        <div class="card-body p-0">
          <!-- Map container -->
          <div id="connection-map" style="width: 100%; height: 500px;"></div>
        </div>
      </div>
    </div>
    
    <!-- Connection details section -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0">Connection Details</h5>
        </div>
        <div class="card-body">
          <!-- Basic connection info -->
          <div class="mb-4">
            <h6 class="border-bottom pb-2">General Information</h6>
            <table class="table table-sm">
              <tbody>
                <tr>
                  <th scope="row">Name</th>
                  <td>{{ samband.name }}</td>
                </tr>
                <tr>
                  <th scope="row">Reference</th>
                  <td>{{ samband.sambandsnummer }}</td>
                </tr>
                <tr>
                  <th scope="row">Type</th>
                  <td>{{ samband.type }}</td>
                </tr>
                <tr>
                  <th scope="row">Status</th>
                  <td>{{ samband.status }}</td>
                </tr>
                <tr>
                  <th scope="row">Vendor</th>
                  <td>{{ samband.vendor }}</td>
                </tr>
                <tr>
                  <th scope="row">Bandwidth</th>
                  <td>{{ samband.bandwidth_string }}</td>
                </tr>
                <tr>
                  <th scope="row">Location</th>
                  <td>{{ samband.location }}</td>
                </tr>
                <tr>
                  <th scope="row">Location Type</th>
                  <td>{{ samband.location_type }}</td>
                </tr>
                <tr>
                  <th scope="row">Transport Type</th>
                  <td>{{ samband.transporttype }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Point A details -->
          <div class="mb-4">
            <h6 class="border-bottom pb-2">Point A</h6>
            <table class="table table-sm">
              <tbody>
                <tr>
                  <th scope="row">Address</th>
                  <td>{{ samband.pop_a_address_string }}</td>
                </tr>
                <tr>
                  <th scope="row">Category</th>
                  <td>{{ samband.pop_a_category }}</td>
                </tr>
                <tr>
                  <th scope="row">Room</th>
                  <td>{{ samband.pop_a_room }}</td>
                </tr>
                <tr>
                  <th scope="row">Coordinates</th>
                  <td>{{ samband.pop_a_geo_string }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Point B details -->
          <div>
            <h6 class="border-bottom pb-2">Point B</h6>
            <table class="table table-sm">
              <tbody>
                <tr>
                  <th scope="row">Address</th>
                  <td>{{ samband.pop_b_address_string }}</td>
                </tr>
                <tr>
                  <th scope="row">Category</th>
                  <td>{{ samband.pop_b_category }}</td>
                </tr>
                <tr>
                  <th scope="row">Room</th>
                  <td>{{ samband.pop_b_room }}</td>
                </tr>
                <tr>
                  <th scope="row">Coordinates</th>
                  <td>{{ samband.pop_b_geo_string }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
